<%= render "pages/content_left" %>
<div class="col-sm-8" id="posts">
  <h2 style="color:blue"><i class="fa fa-newspaper-o"></i> Bảng tin</h2>
  <div id="post-data">
    <%= render @articles %>
  </div>
  <div id="infinite-scrolling">
    <%= paginate @articles, theme: "twitter-bootstrap-3" %>
  </div>
</div>
