<%= render "pages/content_left" %>
<div class="col-sm-8" id="">
  <h2 style="color:blue"><i class="fa fa-newspaper-o"></i> Bảng tin</h2>
  <div id="list_articles">
      <%= render @articles %>

  </div>
  <%= paginate @articles %>
</div>
<div id="loadding" class="col-sm-8 hidden">
  LOADDING ...
</div>
<%= link_to "Test", lazyload_path %>
