<% @notifications.each do |notification| %>
  <li>
    <%= link_to admin_article_path(notification.id) do %>
      <% if notification.watched != Article::WATCHED %>
        <span style="color:blue">
      <% else %>
        <span>
      <% end %>
        <%= notification.user.name %> -
        <%= notification.title %> 
      </span>
    <% end %>
  </li>
<% end %>
